<!-- Main Wrapper -->
<div class="wrapper wrapper-style2">
    <div class="title">The Details</div>
    <div class="container">
        <div class="row">
            <div class="12u">

                <!-- Main -->
                <div id="main">

                    <!-- Image -->
                    <a href="http://fav.me/d5pjw3g" class="image image-featured">
                        <img src="images/pic01.jpg" alt="" />
                    </a>
                    <!-- /Image -->

                    <!-- Features -->
                    <section id="features">
                        <header class="style1">
                            <h2>Dolor consequat feugiat amet veroeros</h2>
                            <p class="byline">Feugiat dolor nullam orci pretium phasellus justo</p>
                        </header>
                        <div class="feature-list">
                            <div>
                                <div class="row">
                                    <div class="6u">
                                        <section>
                                            <h3 class="fa fa-comment">Mattis velit diam vulputate</h3>
                                            <p>Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate. Eget mattis at, laoreet vel velit lorem.</p>
                                        </section>
                                    </div>
                                    <div class="6u">
                                        <section>
                                            <h3 class="fa fa-refresh">Lorem ipsum dolor sit veroeros</h3>
                                            <p>Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate. Eget mattis at, laoreet vel velit lorem.</p>
                                        </section>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="6u">
                                        <section>
                                            <h3 class="fa fa-picture-o">Pretium phasellus justo lorem</h3>
                                            <p>Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate. Eget mattis at, laoreet vel velit lorem.</p>
                                        </section>
                                    </div>
                                    <div class="6u">
                                        <section>
                                            <h3 class="fa fa-cog">Tempus sed pretium orci</h3>
                                            <p>Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate. Eget mattis at, laoreet vel velit lorem.</p>
                                        </section>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="6u">
                                        <section>
                                            <h3 class="fa fa-wrench">Aliquam consequat et feugiat</h3>
                                            <p>Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate. Eget mattis at, laoreet vel velit lorem.</p>
                                        </section>
                                    </div>
                                    <div class="6u">
                                        <section>
                                            <h3 class="fa fa-check">Dolore laoreet aliquam mattis</h3>
                                            <p>Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate. Eget mattis at, laoreet vel velit lorem.</p>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="actions actions-centered">
                            <li><a href="#" class="button button-style1 button-big">Get Started</a></li>
                            <li><a href="#" class="button button-style2 button-big">More Info</a></li>
                        </ul>
                    </section>
                    <!-- /Features -->

                </div>
                <!-- /Main -->

            </div>
        </div>
    </div>
</div>
<!-- /Main Wrapper -->