<!-- Header Wrapper -->
<div id="header-wrapper" class="wrapper">
    <div class="container">
        <div class="row">
            <div class="12u">

                <!-- Header -->
                <div id="header">
                    {% block bloginfo %}

                        <!-- Logo -->
                        <div id="logo">
                            <h1><a href="#">{{ wp.get_bloginfo('title') }}</a></h1>
                            <span class="byline">{{ wp.get_bloginfo('description') }}</span>
                        </div>
                        <!-- /Logo -->
                    {% endblock %}

                    <!-- Nav -->
                    <nav id="nav">
                        {% block navigation %}
                            {{ wp.wp_nav_menu({'theme_location': 'header-menu', 'container': 'false'}) }}
                        {% endblock %}
                    </nav>
                    <!-- /Nav -->

                </div>
                <!-- /Header -->

            </div>
        </div>
    </div>
</div>
<!-- /Header Wrapper -->